/* 
    Document   : style.css
    Created on : 2012/11/07, 23:29:09
    Author     : dozen
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

#container {
    background-color: rgba(255,255,255,0.9);
    padding: 10px 50px;
    margin: 20px auto;
    max-width: 800px;
    border-style: groove;
    border-width: 1px;
    border-color: rgba(0,0,0,0.3);
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    -moz-border-radius-bottomleft: 8px;
}

#container div {
    margin: 50px 0px 0px;
}

.url {
    width: 300px;
}

#header {
    text-align: center;
}

#form {
    text-align: center;
}

#form .parts {
    font-size: 20px;
    margin: 10px 10px;
}

.back {
    color: #555;
    position:fixed;
    z-index: -10;
    white-space: nowrap;
}

h1, h2 {
    /*margin: 5px;*/
}

h1 {
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

#footer {
    text-align: right;
    font-size: 12px;
}

a:link {
    color: #000;
    text-decoration: none;
}

a:visited {
    color: #000;
}